
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);


html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, Roboto !important;
  font: inherit;
  background-color: #fff;
}

/* 유연한 미디어 */
img {
  max-width: 100%;
  height: auto;
}

video,
iframe {
  width: 100%;
  height: auto;
}

