@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, Roboto !important;
  font: inherit;
  background-color: #fff;
}

/* 유연한 미디어 */
img {
  max-width: 100%;
  height: auto;
}

video,
iframe {
  width: 100%;
  height: auto;
}

a:focus,
input:focus {
  outline: 3px solid blue;
  border-radius: 5px;
  // border:
  // border-radius: 5px;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 3px solid blue;
  border-radius: 5px;
}
