@use "../absrtacts" as *;
@use "../themes" as *;

.fast-store {
  p::after {
    content: "";
    width: 0;
    height: 0;
  }

  .height-up {
    height: 250px;
  }

  &-info {
    position: relative;
    background: $white;
    border-bottom: 1px solid #d7d7d7;
    padding: rem(28px) rem(16px);
  }

  &-info__list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: rem(12px);
  }

  &-info__title {
    width: 100%;
    font-size: rem(22px);
    font-weight: 700;
  }

  &-info__star {
    width: 20px;
    height: 20px;
    background-image: url("../../asset/image/yellow_star.png");
    background-size: contain;
    transform: translateY(1px);
  }

  &-info__ratingStar {
    font-weight: 700;
    width: 80%;

    transform: translateX(-7px);
    span {
      font-weight: 400;
    }
    ::after {
      content: "";
      display: inline-block;
      width: 24px;
      height: 20px;
      background-image: url("../../asset/image/dropDown.png");
      background-size: contain;
      transform: rotate(-90deg) translate(-2px, -2px);
    }
  }

  &-info__data {
    font-size: rem(12px);
    line-height: 1.2;
    display: inline-block;
    width: 20%;
  }

  &-info__description {
    font-size: rem(12px);
    width: 75%;

    &.detail::after {
      content: "μμ„Έν";
      display: inline-block;
      font-size: rem(12px);
      line-height: 1.3;
      background: #f6f6f6;
      padding: 0 rem(5px);
      border-radius: rem(10px);
      transform: translate(3px);
    }
  }

  &-info__link {
    position: absolute;
    font-size: rem(12px);
    top: 14%;
    right: 2%;
    color: $gray-100;
    padding: 0 0 rem(4px) rem(4px);

    &::after {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url("../../asset/image/dropDown.png");
      background-size: contain;
      transform: rotate(-90deg) translate(-4px, -1px);
    }
  }

  &-category__title {
    padding: rem(16px);
    background: $white;
    font-size: rem(18px);
    font-weight: 600;
  }
}

.store-menu {
  &.fast {
    gap: rem(15px);
  }

  &__cover.fast {
    @include size(90px, 90px);
    background: rgba(rgb(240, 229, 168), 0.3);
    border-radius: rem(8px);
    overflow: hidden;
  }
}

.store-category__item.fast {
  background: $white;
  border-top: 1px solid #d7d7d7;
  padding: rem(18px);
}

.store-category__link.fast {
  display: flex;
  justify-content: space-between;
}
