// 메인
@use "../themes" as *;
@use "../absrtacts" as *;

.main {
  .quick-heading {
    font-size: rem(40px);
  }

  .baeminone.fast::after {
    width: rem(48px);
    height: rem(48px);
    top: rem(14px);
    left: rem(70px);
  }
  & .fast-togo {
    @include size(100%, rem(204px));
    @include bg("cat_packaging.webp", 50%,60%);
    background-position: rem(155px) rem(80px);

    @include tablet {
      grid-area: togo;
    }
    &:hover {
      background-size: 55% 65%;
      transition: all 0.5s;
    }
  }
}
