@use "../themes" as *;
@use "../absrtacts" as *;

// 상단 배너
.banner {
  width: 100%;
  max-width: 826px;
  height: rem(130px);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.banner__list {
  width: 1284px;
  position: absolute;
  top: 0;
  left: 0;

  @include tablet {
    transform: none !important;
  }
}

.banner__item {
  float: left;
}

.banner__img {
  display: block;
  width: rem(428px);
  height: 130px;
}

// 메뉴 추천 광고
.recommend {
  @include scroll();
  width: 428px;
  display: flex;
  flex-flow: row nowrap;
  gap: rem(10x);
  padding-top: rem(15px);
  padding-bottom: rem(15px);
}

.recommend__link {
  display: block;
  width: rem(108px);
  height: rem(84px);
  border-radius: rem(15px);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5) inset;
  color: $gray-50;
  font-size: 17px;
  font-weight: 700;
  padding-top: 10px;
  padding-left: 11px;
  padding-right: 40%;
  line-height: 1.3;
  text-shadow: 2px 2px 2px $black-100;
  &:focus-within {
    outline: 2px solid rgba(blue, 0.5);
  }
}

.recommend__item:nth-child(1) {
  @include bgRecommend("recommend_img1.jpeg");
}

.recommend__item:nth-child(2) {
  @include bgRecommend("recommend_img8.jpeg");
}

.recommend__item:nth-child(3) {
  @include bgRecommend("recommend_img3.jpeg");
}

.recommend__item:nth-child(4) {
  @include bgRecommend("recommend_img4.jpeg");
}

.recommend__item:nth-child(5) {
  @include bgRecommend("recommend_img5.jpeg");
}

.recommend__item:nth-child(6) {
  @include bgRecommend("recommend_img6.jpeg");
}

.recommend__item:nth-child(7) {
  @include bgRecommend("recommend_img7.jpeg");
}

.recommend__item {
  background-size: cover;
  border-radius: rem(15px);
}

// 메뉴 타입 선택 리스트
.menu-type {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: rem(10px);
  padding-left: rem(10px);
  width: 427px;
}

.menu-type__item:nth-last-child(2) {
  margin-left: rem(3px);
}

.menu-type__item:last-child {
  flex-grow: 1;
  margin-left: rem(4px);
}

.menu-type__item {
  text-align: center;
}

.menu-type__link {
  display: block;
  width: rem(71px);
  height: rem(71px);
  border-radius: rem(15px);
}

.menu-type__text {
  font-family: hanna;
  font-size: rem(14px);
}

.menu-type__image {
  width: rem(45px);
  height: rem(45px);
  margin-top: rem(2px);
}

// 추천 가게 리스트
.recommend-store__item {
  width: rem(390px);
  height: rem(242px);
  border-radius: rem(15px);
  background: $white;
  margin: 0 auto;
  background: url("../asset/image/pizza-store2.png");
  background-position: center -20px;
  background-size: cover;
  position: relative;
}

.recommend-store__item:nth-child(1) {
  margin-top: 13px;
}

.recommend-store__item:nth-child(2) {
  background: url("../asset/image/recommend_img2.jpeg");
  background-position: center -90px;
  background-size: cover;
  margin-top: 13px;
}

.recommend-store__link {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.11);
  display: block;
  width: 390px;
  height: 100px;
  background: $white;
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: rem(15px);
  border-bottom-right-radius: rem(15px);
  padding-top: rem(18px);
  padding-left: rem(15px);
}

.recommend-store__container dt {
  display: inline-block;
}

.recommend-store__container dd {
  display: inline-block;
}

.recommend-store__name {
  font-size: rem(18px);
  font-weight: 700;
  margin-bottom: 14px;
  display: block;
  width: fit-content;
}

.recommend-store__star {
  font-size: 14px;
  font-weight: 700;
  position: relative;
  padding-left: 18px;
}

.recommend-store__star::before {
  content: "";
  display: inline-block;
  background-image: url("../asset/image/small_star.png");
  background-size: contain;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -3px;
  left: 0;
}

.recommend-store__time {
  font-size: 12px;
  border-radius: 20px;
  background: $gray-50;
  padding: 5px 5px 5px 20px;
  position: absolute;
  top: rem(16px);
  right: 15px;
}

.recommend-store__time::before {
  content: "";
  display: inline-block;
  background-image: url("../asset/image/phone_call.png");
  background-size: contain;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 3px;
}

// 미디어쿼리(max width : 826px
@media (min-width: 826px) {
  .banner {
    width: 100vw;
  }

  .recommend {
    overflow: visible;
    justify-content: flex-start;
    margin-left: 0.6%;
  }

  .menu-type {
    gap: rem(20px);
    width: 826px;
    justify-content: space-around;
    padding-bottom: 30px;
  }

  .menu-type__link {
    width: rem(100px);
    height: rem(100px);
    border-radius: rem(15px);
  }

  .menu-type__item:nth-last-child(2) {
    margin-left: none;
  }

  .menu-type__item:last-child {
    flex-grow: initial;
    margin-left: none;
  }

  .menu-type__text {
    font-size: rem(16px);
  }

  .menu-type__image {
    width: rem(80px);
    height: rem(80px);
    margin-top: rem(2px);
  }

  .recommend-store__item {
    display: inline-block;
    margin-left: 14px;
    height: 300px;
  }
}
