@use "../themes" as *;
@use "../absrtacts" as *;


// 상단 배너 
.banner {
  width: 428px;
  height: rem(130px);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.banner__list {
  width: 1284px;
  position: absolute;
  top: 0;
  left: 0;
}

.banner__item {
  float: left;
}

.banner__img {
  width: 428px;
  height: 130px;
}

// 메뉴 추천 광고 
.recommend {
  width: 428px;
  display: flex;
  flex-flow: row nowrap;
  gap: rem(10x);
  overflow: hidden;
  padding-top: rem(15px);
  padding-bottom: rem(15px);
}

.recommend__link {
  display: block;
  width: rem(108px);
  height: rem(84px);
  border-radius: rem(15px);
  background: url(../../asset/image/recommend_img6.jpeg) no-repeat;
  background-size: cover;
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.5) inset;
  color: $white;
  font-size: 17px;
  font-weight: 700;
  padding-top: 10px;
  padding-left: 11px;
  padding-right: 40%;
  line-height: 1.3;
}



// 메뉴 타입 선택 리스트 
.food-category {
  background-image: url(../../asset/image/menu_type_background.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: 50px;
}

.menu-type {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: rem(10px);
  padding-left: rem(16px);
  width: 427px;
}

.menu-type__item {
  text-align: center;
}

.menu-type__link {
  display: block;
  width: rem(71px);
  height: rem(71px);
  border-radius: rem(15px);
  background-color: $gray-50;
}

.menu-type__text {
  font-family: hanna;
  font-size: rem(12px);
}

.menu-type__image {
  width: rem(45px);
  height: rem(45px);
  margin-top: rem(2px);
}

// 추천 가게 리스트 
.recommend-store__item {
  width: rem(390px);
  height: rem(242px);
  border-radius: rem(15px);
  background: $white;
  margin: 13px auto;
  background: url(../../asset/image/recommend_img3.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.recommend-store__link {
  display: block;
  width: 390px;
  height: 100px;
  background: $white;
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: rem(15px);
  border-bottom-right-radius: rem(15px);
  padding-top: rem(18px);
  padding-left: rem(15px);
}

.recommend-store__container dt {
  display: inline-block;
}

.recommend-store__container dd {
  display: inline-block;
}


.recommend-store__name {
  font-size: rem(18px);
  font-weight: 700;
  margin-bottom: 14px;
  display: block;
  width: fit-content;
}

.recommend-store__star {
  font-size: 14px;
  font-weight: 700;
  position: relative;
  padding-left: 18px;
}

.recommend-store__star::before{
  content: "";
  display: inline-block;
  background-image: url(../../asset/image/small_star.png);
  background-size: contain;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -3px;
  left: 0;
}

.recommend-store__time {
  font-size: 12px;
  border-radius: 20px;
  background: $gray-50;
  padding: 5px 5px 5px 20px;
  position: absolute;
  top: rem(16px);
  right: 15px;
}

.recommend-store__time::before{
  content: "";
  display: inline-block;
  background-image: url(../../asset/image/phone_call.png);
  background-size: contain;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 3px;
}