// 메인
@use "../themes" as *;
@use "../absrtacts" as *;

.main {
  &__section {
    padding: rem(19px);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: rem(14px);
    @include tablet {
      display: grid;
      position: relative;
      grid-template-columns: repeat(8, 1fr);
      column-gap: rem(12px);
      grid-template-areas:
        "baemin baemin delivery delivery togo togo togo togo"
        "baemin baemin delivery delivery mart mart mealkit mealkit"
        "store store store store live gift special special"
        "ad ad ad ad . . . .";
    }

    & article {
      background: $white;
      border-radius: 15px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);

      & a {
        @include paddingTL(19px, 19px);
        display: inline-block;
        width: 100%;
        height: 100%;
      }
      & a p {
        margin-top: rem(8px);
      }
    }
    & .baeminone {
      @include size(rem(189px), rem(204px));
      @include bg("mealkit_person.webp", 70%, 50%);
      background-position-x: rem(50px);
      background-position-y: rem(105px);
      position: relative;
      @include tablet {
        grid-area: baemin;
      }
      &:hover {
        background-size: 75% 55%;
        transition: all 0.5s;
      }
    }
    & .baeminone::after {
      @include bg("ddabong.webp");
      content: "";
      width: rem(36px);
      height: rem(36px);
      position: absolute;
      top: 10px;
      left: 50px;
    }
    & .delivery {
      @include size(rem(189px), rem(204px));
      @include bg("main_delivery1_background.webp");

      @include tablet {
        grid-area: delivery;
      }
      &:hover {
        background-size: 110% 110%;
        transition: all 0.5s;
      }
    }

    & .togo {
      @include size(100%, rem(84px));
      @include bg("cat_packaging.webp", 30%);
      background-position: rem(265px);

      @include tablet {
        grid-area: togo;
      }
      &:hover {
        background-size: 35% 110%;
        transition: all 0.5s;
      }
    }
    & .baeminstore {
      @include size(100%, rem(84px));
      @include bg("heart_icon.webp", 25%);
      background-position: rem(285px);

      @include tablet {
        grid-area: store;
      }
      &:hover {
        background-size: 28% 105%;
        transition: all 0.5s;
      }
    }
    & .bmart {
      @include size(rem(189px), rem(105));
      @include bg("smile_pack.webp", 50%);
      background-position: rem(100px);

      @include tablet {
        grid-area: mart;
      }
      &:hover {
        background-size: 60% 110%;
        transition: all 0.5s;
      }
    }
    & .mealkit {
      @include size(rem(189px), rem(105));
      @include bg("menu_type_item_11.webp", 40%, 50%);
      background-position: rem(100px) rem(45px);

      @include tablet {
        grid-area: mealkit;
      }
      &:hover {
        background-size: 45% 55%;
        transition: all 0.5s;
      }
    }
    & .shoppinglive {
      @include size(rem(88px), rem(84px));
      @include bg("shopping_live.webp", 50%, 50%);
      background-position: 50% 20%;
      & a {
        padding-left: 0;
      }

      @include tablet {
        grid-area: live;
      }
      &:hover {
        background-size: 55% 55%;
        transition: all 0.5s;
      }
      & h3 {
        font-size: rem(14px);
        white-space: nowrap;
        text-align: center;
        margin-top: rem(40px);
      }
    }
    & .gift {
      @include size(rem(88px), rem(84px));
      @include bg("main_present.webp", 30%, 50%);
      background-position: 50% 20%;

      @include tablet {
        grid-area: gift;
      }
      &:hover {
        background-size: 35% 55%;
        transition: all 0.5s;
      }
      & h3 {
        font-size: rem(14px);
        white-space: nowrap;
        text-align: center;
        margin-top: rem(40px);
      }
      & a {
        padding-left: 0;
      }
    }
    & .special {
      @include size(rem(189px), rem(84px));
      @include bg("menu_type_item_1.webp", 35%);
      background-position: rem(120px);

      @include tablet {
        grid-area: special;
      }
      &:hover {
        background-size: 40% 110%;
        transition: all 0.5s;
      }
    }
    & .ad {
      @include size(100%, rem(194px));
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      @include tablet {
        grid-area: ad;
      }
      &__list {
        width: 300%;
        position: absolute;
        top: 0;
        left: 0;
        & .ad__item {
          float: left;
          & a {
            padding: 0;
          }
        }
      }
    }
  }

  // 멤버
  & .member {
    @include size(rem(428px), auto);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 rem(19px);
    text-align: center;
    column-gap: 3px;
    & li {
      background: $white;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
      & a {
        display: inline-block;
        width: 100%;
        height: 100%;
        padding-top: 60px;
      }
    }

    @include tablet {
      position: relative;
      top: -213px;
      right: -400px;
      margin-top: 0;
      justify-content: center;
    }
    &__point {
      @include size(rem(96px), rem(87px));
      border-radius: 15px 0 0 15px;
      & a {
        @include bg("point.webp", 40%, 40%);
        background-position: 50% 30%;
        border-radius: 15px 0 0 15px;
      }
    }
    &__like {
      @include size(rem(96px), rem(87px));
      border-radius: 0 15px 15px 0;
      & a {
        @include bg("heart.webp", 40%, 40%);
        background-position: 50% 30%;
        border-radius: 0 15px 15px 0;
      }
    }
    &__coupon {
      @include size(rem(96px), rem(87px));
      & a {
        @include bg("ticket.webp", 40%, 40%);
        background-position: 50% 30%;
      }
    }
    &__gift {
      @include size(rem(96px), rem(87px));
      a {
        @include bg("gift.webp", 40%, 40%);
        background-position: 50% 30%;
      }
    }
  }
}
