@use "../themes" as *;
@use "../absrtacts" as *;
@use "../base" as *;

main {
  padding-top: rem(10px);
  padding-bottom: rem(30px);
}

.main__store-list {
  background-color: $white;
}

.navigation {
  height: rem(60px);
  border-bottom: 1px solid $gray-70;

  &__list {
    @include flex();
    @include scroll();
    gap: rem(36px);
    height: 100%;
    @include tablet {
      justify-content: space-around;
    }

    &.fast {
      justify-content: space-around;
    }

    &:first-child {
      padding-left: rem(27px);
    }

    &:last-child {
      padding-right: rem(27px);
    }
  }

  &__link {
    font-size: rem(20px);
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    line-height: 150%;
    width: 100%;
    color: $gray-100;

    &.fast {
      font-size: rem(23px);
    }
  }

  .underbar--active {
    font-weight: 800;
    color: $black-100;
  }
}

.sub-navigation {
  height: rem(57px);

  &__list {
    @include flex();
    @include scroll();
    gap: rem(36px);
    height: 100%;

    &:first-child {
      padding-left: rem(27px);
    }

    &:last-child {
      padding-right: rem(27px);
    }
    @include tablet {
      justify-content: space-around;
    }
  }

  &__link {
    white-space: nowrap;
    overflow: hidden;
    font-size: rem(16px);
    text-align: center;
    height: 150%;
    width: 100%;
    color: $gray-100;
  }
}

.store {
  &__list {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
  }

  &__item {
    border-bottom: 1px solid $gray-70;
    &:last-child {
      border-bottom: none;
    }
  }

  &__img {
    width: rem(86px);
    height: rem(86px);
    margin: rem(22px) rem(19px) rem(22px) rem(19px);
    float: left;

    img {
      border-radius: rem(25px);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-description {
    position: relative;
    min-height: rem(86px);
    dt,
    dd {
      display: inline-block;
      line-height: 120%;
    }

    height: 100%;
    margin-top: rem(22px);
    margin-bottom: rem(22px);
    font-size: rem(14px);

    &__name {
      display: block;
      font-size: rem(20px);
      font-weight: 600;
    }

    &__star {
      display: block;
      font-weight: 600;
    }

    &__star::before {
      content: "";
      background: url("../asset/image/small_star.png") no-repeat;
      position: relative;
      display: inline-block;
      background-size: 12px 12px;
      width: rem(12px);
      height: rem(12px);
      margin-right: rem(4px);
    }

    &__time {
      font-size: rem(12px);
      border-radius: rem(30px);
      background: $gray-50;
      padding: rem(5px) rem(7px) rem(5px) rem(20px);
      position: absolute;
      bottom: 0;
      left: rem(124px);
      justify-content: center;

      &::before {
        content: "";
        display: inline-block;
        background-image: url("../asset/image/phone_call.png");
        background-size: contain;
        width: rem(16px);
        height: rem(16px);
        position: absolute;
        top: 4px;
        left: 3px;
      }
    }
  }
  .store__item:last-child {
    border-bottom: none;
  }
}
