@use "../themes" as *;
@use "../absrtacts" as *;
@use "../base" as *;

.main__store-list {
  background-color: $white;
}

.navigation {
  height: rem(60px);
  border-bottom: 1px solid $gray-70;
  
  &__list {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    align-items: center;
    gap: rem(36px);
    height: 100%;
    &:first-child {
      padding-left: rem(27px);
    }
    &:last-child {
      padding-right: rem(27px);
    }
  }

  &__link {
    white-space: nowrap;
    overflow: hidden;
    font-size: rem(20px);
    text-align: center;
    line-height: 150%;
    width: 100%;
    color: $gray-100;
  }
    
  .underbar--active {
    font-weight: 800;
    color: $black-100;
  }
  
}
.sub-navigation {
  height: rem(57px);

  &__list {
    display: flex;
    flex-grow: row nowrap;
    overflow: scroll;
    align-items: center;
    gap: rem(36px);
    height: 100%;
    &:first-child {
      padding-left: rem(27px);
    }
    &:last-child {
      padding-right: rem(27px);
    }
  }

  &__link {
    white-space: nowrap;
    overflow: hidden;
    font-size: rem(16px);
    text-align: center;
    height: 150%;
    width: 100%;
    color: $gray-100;
  }

  
}