
@use "../themes" as *;
@use "../absrtacts" as *;
body {
  background: #f8f8f8;
  width: rem(428px);
  margin-left: auto;
  margin-right: auto;
}
h3 {
  font-size: rem(25px);
  font-family: hanna;
  // font-weight: 600;
  // font-family: ;
}
p {
  font-size: rem(16px);
  line-height: 1.5;
}
// br 태그 대신 줄바꿈 하려는 곳에 span 태그에 class줘서 구현
.br {
  display: block;
}
button {
  cursor: pointer;
}
// 스킵네비게이션
.skip-nav {
  position: absolute;
  left: 0;
  text-align: center;
  padding: 4px 0;
  color: $white;
  transform: translateY(-110%);
  z-index: 10;
  & span {
    display: inline-block;
    padding: 8px;
    background: #888;
    border: 2px solid #00f;
    border-radius: 4px;
  }
  &:focus {
    outline: 0;
    transform: none;
  }
}

// 헤더
.header {
  position: relative;
  background: $mainColor;
  padding: rem(19px);
  border-radius: 0 0 10px 10px;
  display: flow-root;
  & .nav-wrapper {
    display: flex;
    flex-flow: row nowrap;
  }
  &__logo {
    @include size(rem(120px), rem(38px));
    // background-image:
  }
  &__address-button {
    // @include size(50% rem(32px));
    background: transparent;
    color: $white;
    font-size: rem(22px);
    font-weight: 500;
    margin-top: rem(22px);
    text-align: left;
    margin-right: auto;

    img {
      width: rem(30px);
      height: rem(20px);
      transform: translate(5px, 3px);
      filter: brightness(0) invert(1);
    }
  }
  .category,
  &__alert-button,
  .mypage {
    @include size(rem(32px), rem(32px));
    border: 0;
    margin-top: rem(20px);

    img {
      filter: brightness(0) invert(1);
    }
  }

  &__alert-button {
    margin-left: rem(20px);
    margin-right: rem(20px);
  }

  & .search-form {
    position: relative;
    margin-top: rem(16px);
  }

  & .search-form__input {
    width: 100%;
    min-height: rem(48px);
    padding-left: rem(33px);
    border-radius: 3px;
    border: 0;
  }
  & .search-form__button-submit {
    @include size(rem(40px), rem(40px));
    position: absolute;
    top: rem(1px);
    right: rem(1px);
    background-image: url("../../asset/image/header_search.png");
    background-size: contain;
    transform: translate(-8px, 2px);
  }
}

main {
  margin-top: -10px !important;
}
