$mainColor: #40bfb8;
$white: #FFFFFF;
$gray-100: #888888;
$gray-70: #D7D7D7;
$gray-50: #f6f6f6;
$black-100: #050505;
$black-50: #3e3e3e;
$black-10: #444444;
$secondary: #ef8a32;
$brown: #d1b28d;
