@use "./base";
@use "./layout";
@use "./pages";
@use "./absrtacts" as *;
@use "./components";
@use "./themes" as *;

.store {
  width: rem(428px);
  margin-left: auto;
  margin-right: auto;
  background: #eee;
  padding-top: rem(260px);

  &-info {
    position: relative;
    // padding: 0 20px;
    background: #fefefe;
  }

  &-info__wrapper {
    background: #fefefe;
    width: rem(390px);
    height: rem(230px);
    border-radius: 5px;
    transform: translateY(-40px);
    box-shadow: rem(3px) rem(1px) rem(10px) #eee, rem(-1px) 0 rem(10px) #eee;
    margin-left: auto;
    margin-right: auto;
  }

  &-info__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: rem(12px);

    dd:nth-child(6)::after {
      content: "|";
      margin-left: rem(10px);
    }
  }

  &-info__title {
    font-size: rem(32px);
    display: block;
    text-align: center;
    margin-top: rem(26px);
  }

  &-info__star {
    display: inline-block;
    width: 58%;
    background: #eee;
    text-align: right;

    margin-top: rem(14px);
  }

  &-info__ratingstar {
    display: inline-block;
    width: 37%;
    font-size: rem(24px);
    margin-top: rem(14px);
  }

  &-info__data,
  &-info__description {
    color: #888888;
  }

  &-more__list {
    display: flex;
    justify-content: space-around;
    margin-top: rem(45px);
    font-size: rem(18px);
  }

  &-more__button {
    cursor: pointer;
  }

  &__coupon {
    display: block;
    color: #ef8a32;
    font-size: rem(18px);
    font-weight: 600;
    width: rem(390px);
    height: rem(50px);
    background: #f6f6f6;
    border: rem(1px) solid #d7d7d7;
    border-radius: rem(5px);
    margin-top: rem(-20px);
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }

  &-order__tablist {
    margin-top: rem(30px);
    font-size: rem(18px);
    display: flex;
    justify-content: space-around;
    color: #888;

    .selected {
      color: #050505;
      font-weight: 700;
    }

    .selected::after {
      content: "";
      display: block;
      width: 100%;
      height: rem(3px);
      background: #050505;
    }
  }
  &-order__tab {
    padding: rem(12px);
  }

  &-delivery {
    padding: rem(20px);
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;

    dd:last-child::after {
      content: "μμ„Έν";
      display: inline-block;
      margin-left: rem(5px);
      font-size: rem(12px);
      background: #f6f6f6;
      padding: rem(3px) rem(8px);
      border-radius: rem(10px);
    }
  }

  &-delivery__list {
    display: flex;
    flex-flow: row wrap;
    gap: rem(8px);
  }

  &-delivery__data {
    width: 25%;
  }

  &-delivery__description {
    width: 70%;
  }
  &-pack {
    display: none;
  }

  &-detail {
    margin-top: rem(10px);
    background: #fff;
  }

  &-detail__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #888888;
    text-align: center;

    .selected {
      border: 0;
      border-right: 1px solid #d7d7d7;
      border-top: 2px solid #050505;
    }
  }

  &-detail__item {
    flex-grow: 1;
    line-height: rem(50px);
    border-bottom: 1px solid #d7d7d7;
  }

  &-detail__link {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  &-nav__list {
    display: flex;
    justify-content: space-around;
    margin-top: rem(10px);
    font-size: rem(14px);
  }

  &-nav__item {
    padding: rem(8px);
    border: 1px solid #d7d7d7;
    border-radius: rem(30px);
  }
}
